streamlit
streamlit_option_menu==0.3.6
streamlit-sparrow-labeling==0.1.1
streamlit_nested_layout==0.1.1
streamlit-javascript==0.1.5
natsort==8.4.0
streamlit-aggrid==0.3.4
numpy
pandas
matplotlib
scikit-learn
statistics
scipy
seaborn
altair
pathlib
requests
Pillow
